/* -----------------动态侧边栏样式 --------------*/
.sidebar {
    position: fixed;
    left: -280px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 80vh;
    background: rgba(89, 89, 89, 0.5); /* 半透明白色背景 */
    box-shadow: 2px 0 20px rgba(0,0,0,0.15);
    border-radius: 0 15px 15px 0;
    transition: all 0.2s cubic-bezier(0.25, 0.55, 0.27, 0.9);/*弹入动画*/
    will-change: transform;
    z-index: 888;
    display: flex;
    flex-direction: column;
}

.sidebar.show {
    animation: sidebarBounce 0.8s; 
    left: 0;
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #63cdda;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-toggle {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* background: #FEC89A; */
    width:50px;
    height: 50px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1001;
    /* 新增背景图片样式 */
    background: rgba(250, 250, 250, 0); 
    background: url('img/全部.png') center/cover no-repeat;
    border: 1px solid #2c9ff8;
    perspective: 1000px;
    transition: transform 0.3s, filter 0.3s;
}

.sidebar-toggle:hover {
    /* transform: translateY(-50%) scale(1.1);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2); */
    transform: translateY(-50%) rotate(-15deg) scale(1.2);
    filter: drop-shadow(0 0 8px #17cef2);
}
.sidebar-toggle:hover .tooltip {
    opacity: 1;
}

.progress-text {
    display: block;
    margin-top: 8px;
    font-size: 0.3em;
    color: #e9ecef;
}

.tooltip {
    position: absolute;
    left: 50px;
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.9em;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.question-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #7eb7d1  #3cb4d5;
    
    /* 隐藏默认滚动条（备用方案） */
    -ms-overflow-style: none;  /* IE/Edge */

    /*滑动效果优化*/
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

.question-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.question-list::-webkit-scrollbar-thumb {
    background: #F8AD9D;
    border-radius: 2px;
}

.question-list::-webkit-scrollbar-track {
    background: #FFB5A7;
    border-radius: 0 15px 15px 0;
}

@media (pointer: coarse) and (max-width: 768px) {
    .question-list::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    .question-list {
        scrollbar-width: 5px; /* Firefox移动端适配 */
    }
}
@media (hover: none) {
    .option:hover { transform: none; box-shadow: none; }
  }
